<h3>Download From Repository</h3>

<p>You can access gem files and perform deployment without any credentials.</p>

<p>If you want to install gem from this repository:</p>
<p><pre><code>gem install [gemname] --source=<%= url "/" %></code></pre></p>

<p>Too add this repo permanently to your rubygems configuration:</p>
<p><pre><code>gem sources -a <%= url "/" %></code></pre></p>

<h3>Repository Manipulation</h3>

<p>Gem repository manipulation is limited to authenticated users. PuzzleFlow Redmine account is required here.</p>

<p>You'll be asked for user name and password when trying to upload new or delete gem.</p>

<p>To push gem manually with gem command inabox use option --pf (--puzzleflow):</p>
<p><pre><code>gem inabox [gemfile] --pf</code></pre></p>

<p>You will be asked for your personal Redmine account key, which would be used for authrization.</p>

<h3>Gem Release</h3>

<p>All PuzzleFlow gems are integrated with this repository using hoe and hoe-puzzleflow plugin.</p>
<p>The authorization is performed using Redmine account key.</p>

<p><pre><code>rake release VERSION=x.y.x</code></pre></p>

<p>The first time you run this command, you'll be asked for account key (gem inabox --pf is run internally).</p>

<p>You can overwrite the redmine key with command variable <code>REDMINE_KEY</code>:</p>
<p><pre><code>rake release VERSION=x.y.x <strong>REDMINE_KEY=[account_key]</strong></code></pre></p>

<% if @gems.any? %>
  <div id="alpha_index"><ul class="pagination"><%= ("a".."z").map{|i| @index_gems.include?(i) ? "<li><a href='#jump_#{i}'>#{i}</a></li>" : "<li class='disabled'><a>#{i}</a></li>" }.join %></ul></div>

  <div class="gemlist">

    <% @gems.by_name do |name, versions| %>
      <div class="panel panel-default" <%= %{id="jump_#{name[0..0].downcase}"} if @index_gems.delete(name[0..0].downcase) %> class="gem-version">
        <div class="panel-heading"><h3 class="panel-title"><%= name %> (<%= versions.count == 1 ? versions.first.number : "#{versions.oldest.number} - #{versions.newest.number}" %>)</h3></div>
        <%# <div class="panel-body"> %>
          <table class="table">
            <tbody>
              <% versions.each.reverse_each.first(5).each do |version| %>
                <tr>
                  <td>
                    <code>gem install <%= version.name %> <%= "--prerelease" if version.number.to_s.match(/[a-z]/i) %> -v "<%= version.number %>"</code>
                    <% unless version.platform =~ /^ruby/i %>
                      <small class="platform"><%= version.platform %></small>
                    <% end %>
                  </td>
                  <td class="actions">
                    <form class="delete-form" method="post" action="<%= url("/gems/#{version.gemfile_name}.gem") %>">
                      <a class="download btn btn-sm btn-success" href="<%= url("/gems/#{version.gemfile_name}.gem") %>">Download</a>
                      <input type="hidden" name="_method" value="DELETE" />
                      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <% if versions.count > 5 %>
            <a href="<%= url("/gems/#{name}") %>" id="more_link">Older versions...</a>
          <% end %>
        <%# </div> %>

        <div class="details panel-footer">
          <p>
            <% newest_gem = versions.newest %>
            <% if spec = spec_for(name, newest_gem.number, newest_gem.platform) %>
              <%= spec.description %>
              <br/>
              <span class="author">– <%= spec.authors.map do |author|
                "<a href='#{spec.homepage}'>#{author}</a>"
              end.join(', ') %></span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

