<!DOCTYPE html>
<html>
  <head>
    <title>PuzzleFlow Gem Repository</title>
    <link rel="stylesheet" href="<%= url "/bootstrap.css", false %>" type="text/css" media="screen">
    <link rel="stylesheet" href="<%= url "/master.css", false %>" type="text/css" media="screen">
    <link href="<%= url "/atom.xml", false %>" type="application/atom+xml" rel="alternate" title="Atom Feed">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <div class="pull-right">
          <div class="upload"><a class="btn btn-default upload-gem" href="<%= url("/upload") %>">Upload Another Gem</a></div>
        </div>

        <h1>PuzzleFlow Gem Repository</h1>
      </div>

      <%= yield %>
    </div>
    <script type="text/javascript" src="<%= url "/jquery.js", false %>"></script>
    <script type="text/javascript" src="<%= url "/bootstrap.js", false %>"></script>
    <script type="text/javascript" src="<%= url "/master.js", false %>"></script>
  </body>
</html>
